node_modules
*.test.*
jsconfig.json
rollup.config.js
*.http
*.html
types/
publish.md
test/
templates/
.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
out/**
src/**
scripts/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
note.md
biome.json
READEME.en.md
commands/*
codelens.js
dist/
drop/